<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kirshboim.polyjam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_hand"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden"
                android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrePlayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name=".PlayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="reverseLandscape"
            android:noHistory="true" />
        <activity
            android:name=".PostPlayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:noHistory="true" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/about_activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <service android:name=".PolyjamService" />
    </application>

</manifest>
